@using DWM.Models.Repositories
@using App_Dominio.Repositories
@model DWM.Models.Repositories.ComunicacaoGrupoViewModel
@{
    ViewBag.Title = new App_Dominio.Security.EmpresaSecurity<App_Dominio.Entidades.SecurityContext>().getEmpresa().nome;
}
@using (Html.BeginForm("Create", "ComunicacaoGrupo", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div id="div-lov"></div>
    <div class="panel panel-default" style="margin-top: 10px">
        <div class="panel-heading">
            <h2 class="panel-title">
                Comunicados do Grupo <small>Vincular um comunicado geral a um grupo de condôminos.</small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <blockquote>
                        <p>
                            Vincular 
                        </p> 
                        <small>Para vincular o comunicado ao grupo, localize o respectivo comunicado geral já existente e 
                        depois informe o grupo no qual este comunicado vai pertencer. </small>
                        <small>A partir do momento que o comunicado geral for vinculado a um grupo ele deixa de aparecer para todos os usuários e será exibido apenas para os usuários do respectivo grupo</small>
                        <small>O mesmo comunicado pode pertencer a vários grupos</small>
                        <small>Quando um comunicado geral é vinculado a um grupo, ele deixa de ser "Comunicado geral" e passa a ser um "Comunicado específico" de um ou mais grupos.</small>
                    </blockquote>
                </div>
                <div class="col-md-12">
                    <div class="form-group" style="margin-top: 20px">
                        @Html.ValidationSummary(false)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="form-group">
                                @Html.Editor("_comunicacaoId", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Comunicado",
                                                           id = "comunicacaoId",
                                                           text = "nome_comunicacao",
                                                           lovModal = "LovComunicacaoModal",
                                                           controller = "ComunicadoGeral",
                                                           descricao = "descricao",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.comunicacaoId.ToString(),
                                                               Text = Model.cabecalho
                                                           },
                                                           disableButtons = false,
                                                           nextField = "_grupoAssociadoId"
                                                       }
                                               })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="form-group">
                                @Html.Editor("_grupoAssociadoId", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Grupo",
                                                           id = "grupoAssociadoId",
                                                           text = "nome_grupoAssociado",
                                                           lovModal = "LovGrupoAssociadoModal",
                                                           controller = "GrupoAssociado",
                                                           descricao = "descricao",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.grupoAssociadoId.ToString(),
                                                               Text = Model.descricao
                                                           },
                                                           disableButtons = false,
                                                           nextField = ""
                                                       }
                                               })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8">
                    @Html.Partial("_defaultListButtons",
                        new List<ButtonRepository>
                        {
                            new ButtonRepository() {    linkText = "Salvar",
                                                        actionName = "",
                                                        controllerName = "",
                                                        buttonType = "submit"
                                                    } ,
                            new ButtonRepository() {    linkText = "Cancelar",
                                                        actionName = "Browse",
                                                        controllerName = "ComunicacaoGrupo",
                                                        buttonType = "link"
                                                    }
                        })
                </div>
                <div class="col-md-offset-4">
                    ( * ) - Campo de preenchimento obrigatório
                </div>
            </div>
        </div>
    </div>
}

