@using App_Dominio.Repositories
@model Sindemed.Models.Repositories.AtendimentoViewModel
@{
    ViewBag.Title = "Sindmed";
    ViewBag.ind_resposta = "N";
}
@using (Html.BeginForm("Fechar", "Atendimento", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="panel panel-default" style="margin-top: 10px">
        <div class="panel-heading">
            <h2 class="panel-title">
                Detalhamento <small>Histórico do chamado do associado</small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <blockquote>
                        <p>
                            Detalhar Chamado
                        </p> <small>Exibe o histórico com todas as mensagens de resposta do atendimento.</small>
                    </blockquote>
                </div>
            </div>
            @Html.Partial("_Create", Model)
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8">
                    @Html.Partial("_defaultListButtons",
                        new List<ButtonRepository>
                        {
                            new ButtonRepository() {    linkText = "Cancelar",
                                                        actionName = "Browse",
                                                        controllerName = (Model.fluxo == "2" ? "Atendimento" : "Chamado"),
                                                        buttonType = "link"
                                                    }
                        })
                </div>
            </div>
        </div>
    </div>
}




