@using App_Dominio.Repositories
@model Sindemed.Models.Repositories.AtendimentoViewModel
@{
    ViewBag.Title = "Sindmepa";
    ViewBag.ind_resposta = "S";
}
@using (Html.BeginForm("Fechar", "Atendimento", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="panel panel-default" style="margin-top: 10px">
        <div class="panel-heading">
            <h2 class="panel-title">
                Encerramento <small>Fechar chamado do associado</small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <blockquote>
                        <p>
                            Fechar Chamado
                        </p> <small>Encerrar o chamado do associado. Esse recurso deve ser utilizado pela administração para dar a resposta final com a descrição do atendinebto que foi concluído. Uma vez encerrado o atendimento, não será possível adicionar novas mensagens a ele. Preencher os campos abaixo e depois clicar no botão "Encerrar"</small>
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.ValidationSummary(false)
                    </div>
                </div>
            </div>
            @Html.Partial("_Create", Model)
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8">
                    @Html.Partial("_defaultListButtons",
                        new List<ButtonRepository>
                        {
                            new ButtonRepository() {    linkText = "Encerrar",
                                                        actionName = "",
                                                        controllerName = "",
                                                        buttonType = "submit"
                                                    } ,
                            new ButtonRepository() {    linkText = "Cancelar",
                                                        actionName = "Browse",
                                                        controllerName = "Atendimento",
                                                        buttonType = "link"
                                                    }
                        })
                </div>
                <div class="col-md-offset-4">
                    ( * ) - Campo de preenchimento obrigatório
                </div>
            </div>
        </div>
    </div>
}



