@model System.Web.Mvc.PagedList<DWM.Models.Repositories.ComunicacaoViewModel>
@{
    Layout = null;
    Model.action = "../ComunicadoGeral/_ListComunicacaoModal";
}

<div class="row">
    <div class="col-md-11" style="margin: 0px">
        @Html.Partial("_Filter", Model)
        <div id="div-list" style="padding-top: 0px">
            @Html.Partial("../ComunicadoGeral/_ListComunicacaoModal", Model)
        </div>
    </div>
</div>


<script type="text/javascript">

    function Move(id, descricao) {
        $("#comunicacaoId").val(id);
        $("#nome_comunicacao").val(descricao);
        $("#nome_comunicacao1").val(descricao);
        $("#btnModal").click();
    }

</script>







