@using DWM.Models.Repositories
@using App_Dominio.Repositories
@model System.Web.Mvc.PagedList<DWM.Models.Repositories.MedicoViewModel>
@{
    ViewBag.Title = "Sindmepa";
    ViewBag.Header = "Associados";
}
<div class="row" style="margin-top: 10px">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading no-padding" style="height: 50px">
                @Html.Partial("_Filter", Model)
            </div>
            <div class="panel-body">
                <div id="div-list">
                    @Html.Partial("List", Model)
                </div>
            </div>
            <div class="panel-footer">
                <div class="col-lg-offset-11">
                    @Html.Partial("_defaultListButtons", new List<ButtonRepository> { new ButtonRepository() { linkText = "Incluir", actionName = "Create", controllerName = "Associado", buttonType = "link" } })
                </div>
            </div>
        </div>
    </div>
</div>


