@using Sindemed.Models.Repositories
@using App_Dominio.Repositories
@model Sindemed.Models.Repositories.AssociadoGrupoViewModel
@{
    ViewBag.Title = "Sindmepa";
}
@using (Html.BeginForm("Create", "AssociadoGrupo", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div id="div-lov"></div>
    <div class="panel panel-default" style="margin-top: 10px">
        <div class="panel-heading">
            <h2 class="panel-title">
                Associados dos grupos <small>Vincular associado a um grupo.</small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <blockquote>
                        <p>
                            Vincular
                        </p> <small>Para vincular o associado ao grupo, localize o respectivo associado e depois informe o grupo no qual este associado vai pertencer.
                        </small>
                        <small>A partir do momento que o associado for vinculado a um grupo ele passa a visualizar na tela principal todos os comunicados que são exibidos para o respectivo grupo.</small>
                        <small>O mesmo associado pode pertencer a vários grupos e visualizar as mensagens de vários grupos.</small>
                    </blockquote>
                </div>
                <div class="col-md-12">
                    <div class="form-group" style="margin-top: 20px">
                        @Html.ValidationSummary(false)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                @Html.Editor("_associadoId", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Associado",
                                                           id = "associadoId",
                                                           text = "nome_associado",
                                                           lovModal = "LovMedicoModal",
                                                           controller = "Associado",
                                                           descricao = "descricao",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.associadoId.ToString(),
                                                               Text = Model.nome
                                                           },
                                                           disableButtons = false,
                                                           nextField = "_grupoAssociadoId"
                                                       }
                                               })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                @Html.Editor("_grupoAssociadoId", "TYPEAHEAD", new
                                               {
                                                   typeahead = new TypeaheadRepository()
                                                       {
                                                           label = "Grupo",
                                                           id = "grupoAssociadoId",
                                                           text = "nome_grupoAssociado",
                                                           lovModal = "LovGrupoAssociadoModal",
                                                           controller = "GrupoAssociado",
                                                           descricao = "descricao",
                                                           values = new SelectListItem()
                                                           {
                                                               Value = Model.grupoAssociadoId.ToString(),
                                                               Text = Model.descricao
                                                           },
                                                           disableButtons = false,
                                                           nextField = ""
                                                       }
                                               })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8">
                    @Html.Partial("_defaultListButtons",
                        new List<ButtonRepository>
                        {
                            new ButtonRepository() {    linkText = "Salvar",
                                                        actionName = "",
                                                        controllerName = "",
                                                        buttonType = "submit"
                                                    } ,
                            new ButtonRepository() {    linkText = "Cancelar",
                                                        actionName = "Browse",
                                                        controllerName = "AssociadoGrupo",
                                                        buttonType = "link"
                                                    }
                        })
                </div>
                <div class="col-md-offset-4">
                    ( * ) - Campo de preenchimento obrigatório
                </div>
            </div>
        </div>
    </div>
}

