@{
    ViewBag.Title = "Sindmed";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Estabelece a comunicação entre o associado e a administração e gerencia os dados cadastrais de todos os associados bem como a sua administração finaceira.</p>
