@{
    ViewBag.Title = "Tim Maia";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="jumbotron">
    <h1>Tim Maia</h1>
    <h3>Sistema de Administração de Condomínios</h3>
    <p>
        Este sistema tem como objetivo tornar a comunicação entre o condômino e a administração do Parc Paradiso mais profissional, ágil e também com mais transparência.
    </p>
</div>
<div class="page-header">
    <h3>Principais recursos existentes atualmente</h3>
    Estes são o recursos que você vai encontrar após fazer seu cadastro:
</div>

<div class="row">
    <div class="col-sm-12 col-md-4 col-xs-12">
        <div class="thumbnail">
            <img alt="300x200" src="../Content/images/fale_conosco-300x200.jpg" />
            <div class="caption">
                <h3>Atendimento</h3>
                <p>Este recurso possibilita estabelecer uma relação mais próxima entre o condômino, a administração e o síndico(a).</p>
                <p>Através de abertura de chamados você poderá fazer qualquer solicitação ao condomínio tais como reserva de espaço comum, denunciar um problema, solicitar 2a via de boleto, etc. </p>
                <p>Todo chamado aberto fica registrado a data e hora e possui um status de acompanhamento. Sempre que um colaborador da administração responder você receberá um e-mail de notificação para que possa acessar o sistema e ler a resposta.</p>
                <p>Também é possível anexar documentos tais como fotos, textos e imagens a um chamado para ilustração e melhor compreensão do que está sendo informado de forma que tudo fique muito bem registrado e homologado.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-xs-12">
        <div class="thumbnail">
            <img alt="300x200" src="../Content/images/screenActionManagerFeature4-300x200.jpg" />
            <div class="caption">
                <h3>Comunicados</h3>
                <p>Este espaço será utilizado pelo síndico(a) para estabelecer a comunicação com os condôminos e divulgar as ações executadas pela sua administração.</p>
                <p>Na tela inicial do sistema o síndico irá expor as melhorias, reformas, convocar assembléias, pontuar os problemas vividos dia a dia pelo condomínio e as soluções que estão sendo adotadas.</p>
                <p>Poderá solicitar a opinião dos moradores, divulgar eventos comemorativos, festas, etc.</p>
                <p>Serão também apresentados neste espaço informações para grupos específicos de moradores, tais como moradores de um determinada torre, moradores que frequentam a academia, a turminha do futebol, etc.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-xs-12">
        <div class="thumbnail">
            <img alt="300x200" src="../Content/images/download_button.jpg" />
            <div class="caption">
                <h3>Baixar arquivos</h3>
                <p>O sistema permite que a administração do condomínio possa criar grupos (pastas) e fazer upload de documentos e arquivos importantes para estas pastas.</p>
                <p>Serão enviados documentos importantes tais como convocações e atas de assembleias, avisos, prestações de contas, propostas de fornecedores, regimento interno, etc.</p>
                <p>Estes arquivos serão guardados nestas pastas para que os condôminios possam consultar e fazer o download quando for necessário.</p>
                <p>O sistema permite atribuir uma data e um breve descritivo para cada arquivo, facilitando a busca. Arquivos recentes serão exibidos em destaque para o morador.</p>
            </div>
        </div>
    </div>

</div>



