@{
    ViewBag.Title = "Tim Maia";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row">
    <div class="col-sm-6 col-md-12">
        <div class="thumbnail">
            @*<img src="http://imovelvip.com.br/blog/wp-content/uploads/2013/05/condominio-clube-2.jpg" alt="">*@
            <div class="row clearfix">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <h1>Condomínio-clube: Uma tendência que exige muitas cautelas</h1>
                    <p>
                        “Já não restam dúvidas que os <strong>condomínios-clube</strong> se tornaram uma nova tendência de moradia. Uma nova moda que tomou conta do mercado, talvez pela viabilidade econômica ou pelo apelo publicitário. O fato é que a cada dia mais nos deparamos com novos lançamentos em todas as regiões do país. Muitas vezes as mesmas incorporadoras e construtoras repetem o sucesso de vendas em diferentes regiões.
                    </p>
                    <p>
                        Do ponto de vista da moradia, a gama de opções de lazer é muito convidativa. Quanto mais itens de lazer, maior o apelo. Não é raro encontrarmos folhetos publicitários que destacam mais esses benefícios do que os detalhes do próprio apartamento.
                    </p>
                    <p>
                        O comprador espera qualidade de vida, atividades e especialmente segurança. Muitas vezes não vai conseguir isso no primeiro momento. Principalmente porque existem alguns empreendimentos que deixam uma lacuna em implantação inicial. Em determinados casos faltam estrutura adequada, convenção específica para um grande empreendimento e normas de segurança dos moradores, visitantes e serviçais.
                    </p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://condominiodofuturo.com/wp-content/uploads/2013/06/Condo_Clube_07_zap.com_.br_.jpg" alt="">
                </a>
                <div class="media-body">
                    <p>A <strong>organização</strong> desses condomínios em muito difere dos tradicionais. Não apenas pela sua enorme dimensão, mas pela gama de itens que envolvem a sua correta implantação e consequente <strong>administração</strong>. Vale destacar que existem licenças específicas, normas municipais e legislação aplicada a algumas áreas de lazer ou institucionais. Situações que devem ser identificadas antecipadamente, pois as ações erradas tornam-se de difícil ajuste posterior, além de onerosas e desgastantes.</p>

                    <p>Mas a maior preocupação é com o item <strong>segurança patrimonial</strong> e <strong>integridade física</strong> dos moradores. E nesse ponto o equilíbrio entre a infraestrutura, equipamentos eletrônicos e os procedimentos é que determinarão o resultado alcançado.               </p>

                    <p>A diversidade de equipamentos existentes no mercado ajuda a compor um sistema adequado. Quanto maior a tecnologia aplicada, menor será o custo mensal com sua manutenção. E isso refletirá diretamente no valor da quota condominial. Entretanto, sem a estrutura física apropriada e sem procedimentos claramente definidos, muitas vezes o investimento é perdido.</p>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <p></p>
                    <p>Os investimentos devem, além do conforto coletivo e de lazer, privilegiar a implementação de <strong>infraestrutura adequada</strong> para o bem estar dos condôminos. Importante destacar que é essencial para o sucesso deste investimento o <strong>treinamento constante do quadro de funcionários</strong>, e a frequente checagem dos procedimentos aprovados e conhecidos por todos que compõem aquela comunidade.</p>
                    <p>Tudo isso deve ser claramente apresentado aos futuros moradores na hora da aquisição do imóvel. Essas normas de convivência e restrições o condômino deve conhecer previamente, para que a sua integração e de sua família seja harmônica e que possa usufruir e se beneficiar plenamente dos inúmeros benefícios e vantagens do condomínio-clube.</p>
                    <div class="media">
                        <a class="pull-right" href="#">
                            <img class="media-object" src="http://2.bp.blogspot.com/-C6WGpnsZIVM/UX64UV9a5gI/AAAAAAAABPE/JSLKNSD8fj8/s1600/1336067871_323481205_15-Imoveis-Goiania-Brilhante-Condominio-Clube-Brilhante-e-morar-aqui--.jpg" alt="">
                        </a>
                        <div class="media-body">
                            <p class="text-primary text-center"><strong>Administração</strong></p>
                            <p>Geralmente, a administração dos condomínios-clube é feita por um síndico, assessorado por um gerente predial e assistentes administrativos, além da administradora de condomínio. Quando as torres são muitas, o usual é que cada uma tenha o seu próprio subsíndico. É ele quem resolve as pequenas pendências referentes aquele local.</p>
                            <p>É claro que o síndico é o responsável legal pelo condomínio, mas as pequenas decisões referentes a cada torre podem ser tomadas pelo subsíndico – desde que não contrariem a convenção e o regulamento interno– que devem ser os mesmo para o condomínio inteiro.</p>
                            <p>Para compor o corpo diretivo vale não apenas as pessoas que se interessarem, mas também se tiverem conhecimentos de informática, contabilidade, direito, finanças, administração, já que essas áreas são bastante usadas no cotidiano do condomínio.</p>
                            <p>Também é muito interessante que se formem comissões de moradores para diversos temas como obras, segurança e lazer. As comissões devem ser montadas em assembleias e se reunir periodicamente. De preferência, sem fazer parte do conselho. O ideal é que moradores ‘comuns’ tenham mais liberdade para atuar.</p>
                        </div>
                    </div>
                    <p></p>
                    <p class="text-primary text-left"><strong>Assembleias</strong></p>
                    <p>As famosas reuniões de condomínio aqui também têm um desafio a mais: ter um local que abrigue os todos os moradores interessados em participar – mesmo que a única assembleia que chame tanto quórum seja sobre vagas de garagem.</p>
                    <p>Mas há certas assembleias que podem ficar restritas ao morador daquele edifício, ou bloco, em particular. Às vezes, uma infiltração, ou manutenção na caixa d´água do local, ou ainda problemas de comportamento ou de convivência específicos podem ser tratados com assembleias específicas para aquele bloco.</p>
                    <p class="lead alert alert-info text-mama-africa">Com avanço da tecnologia, muito em breve boa parte desses problemas serão resolvidos quando as chamadas <strong>assembleias virtuais</strong> se tornarem uma realidade.</p>
                    
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://files.sindiconet.com.br/ContentImages/lista_inadimplentes_605_422.jpg" alt="">
                        </a>
                        <div class="media-body">
                            <p class="text-primary text-center"><strong>Finanças</strong></p>
                            <p>Em um condomínio-clube, as finanças precisam ser extremamente bem administradas. Como os itens de lazer são muitos, é importante frisar que a taxa condominial irá acompanhar esse ritmo de gastos, sendo mais onerosa que a de um condomínio comum.</p>
                            <p>Na hora da prestação de contas, os gastos do condomínio e da parte do clube devem vir separados. Dessa forma fica mais claro para os moradores o quanto está sendo gasto em cada local e a prestação de contas se torna mais transparente.</p>
                            <p>Também é importante que haja uma previsão para os inadimplentes e que a “folga” do montante arrecadado e o que é gasto seja um pouco maior em condomínios desse tipo.</p>
                            <p class="text-primary text-center"><strong>Manutenção</strong></p>
                            <p>De acordo com os especialistas consultados, a manutenção da infra-estrutura é uma das áreas que mais onera o condomínio-clube. Como o espírito do local são os itens de lazer, esses devem ter manutenção preventiva <strong>sempre em dia</strong>.</p>
                        </div>
                    </div>
                    <p></p>
                    <p>Também devem estar planejados sempre reparos de curto, médio e longo prazo.  O gerente predial  e o síndico devem estar sempre atentos a esse programa. Afinal, se uma coisa aqui e outra ali começarem a ficar sem uso, ou sem condições de uso, a parte “clube” do condomínio passa a não valer a pena – apenas irá onerar os moradores, sem tantos benefícios.</p>
                    <p class="text-primary text-center"><strong>Convivência</strong></p>
                    <p>É claro que morar com tanta gente também tem o seu ponto negativo: o de muitas opiniões divergentes e, consequentemente, muitos atritos.</p>
                    <p>Há também o problema do respeito às regras. A maior dor de cabeça em condomínios-clube se refere ao uso da área de clube por convidados – o que geralmente é proibido pela convenção e pelo regulamento interno. Por isso, - mais uma vez - deve haver muita clareza nesses dois documentos no que se refere ao uso dos itens de lazer.</p>
                    <p>Outro ponto de atrito se refere à necessidade de agendamento para uso de certos espaços, como área gourmet, churrasqueiras ou salão de festas. Apesar de momentaneamente desocupados, o local pode ter sido previamente agendado para uma festa. Então o ideal é sempre reforçar para os moradores a importância da reserva prévia, que no caso do Tim Maia pode ser feito através de <strong>chamados</strong> e brevemente haverá uma função específica para ela.</p>
                    <p>Para a gestão de conflitos em geral, outra dica é montar um comitê de conciliação, formado por moradores e um profissional, que pode ser indicado pela administradora. Isso pode ajudar a resolver os conflitos sem ter que levá-los a instâncias jurídicas.</p>
                    <p class="text-primary text-center"><strong>Outros serviços</strong></p>
                    <p>Em se tratando de serviços, um condomínio-clube pode ter diversos profissionais terceirizados. Pode ser desde os professores de educação física que dão aula como personal trainner, passando por recreadores, passando até por esteticistas e cabeleireiros, que usam os locais como salão de beleza do local para oferecer seus préstimos.</p>
                    <p>Há várias formas de trabalhar com esses profissionais se cercando de cuidado – para evitar que futuramente haja algum tipo de processo trabalhista contra o condomínio. Veja abaixo:</p>
                    <ul>
                        <li>Serviços muito procurados pela maioria dos condôminos, como professores de musculação na academia, por exemplo, podem ser contratados em regime de terceirização. O ideal é que a administradora redija um contrato que fique claro para todas as partes. Nesse caso, o custo é dividido por todos os condôminos</li>
                        <li>Serviços sazonais, como recreação nas férias para crianças, também são rateados por todo o condomínio. A diferença, nesse caso, é a duração do contrato, mais curto</li>
                        <li>Serviços personalizados, como aula de natação, pilates, artes marciais são acordados entre o profissional e os moradores, diretamente. A administração pode ajudar com o contrato, mas o ideal é que não se envolva com o pagamento dos profissionais</li>

                    </ul>
                    <p>Para manter a segurança no relacionamento com esses profissionais, o ideal é que todos tenham uma ficha cadastral na administração do condomínio, com dados pessoais, número de RG e CPF, endereço residencial, e contatos telefônicos. No Tim Maia iremos disponibilizar um cadastro de prestadores de serviços que ficarão disponibilizados aqui no sistema para a consulta dos condôminos.</p>
                    <p>Professores de educação física devem ser registrados nos seus respectivos conselhos regionais. Dessa forma, o condomínio se cerca de cuidados na hora de escolher um profissional para se responsabilizar pela academia do local.</p>
                    <p>Há também em alguns condomínios-clube serviços de alimentação, como lanchonetes e bares. Nesses casos, cada condômino paga o seu consumo. Nos clubes em que o serviço é terceirizado, é comum a cobrança de uma taxa para cobrir custos como água e energia elétrica utilizada.</p>

                    <div class="media">
                        <a class="pull-right" href="#">
                            <img class="media-object" src="~/Content/images/economia_agua.png" alt="">
                        </a>
                        <div class="media-body">
                            <p class="text-primary text-center"><strong>Conscientização ambiental</strong></p>
                            <p>Em um local com tantas pessoas, o acúmulo de lixo, e o desperdício de água e luz podem ser enormes. Para diminuir um pouco do impacto ambiental, o condomínio pode fazer uma campanha de conscientização sobre o uso racional da água e da energia elétrica.</p>
                            <p>Implantar a coleta seletiva no condomínio também é extremamente importante. Com o volume de lixo produzido, fica mais fácil fechar uma parceria com ONGs ou empresas especializadas. Para que a coleta seletiva dê certo é importante envolver funcionários e condôminos no processo e oferecer palestras educativas, além de material impresso e lixeiras coloridas específicas para esse fim.</p>
                            <p class="text-primary text-center"><strong>Canais de comunicação</strong></p>
                            <p>É importante que os síndicos e subsíndicos tenham um bom relacionamento com os moradores – e que esses tenham acesso aos cuidadores do condomínio.</p>
                            <p>Portanto, vale a pena investir em canais de comunicação claros, como e-mails, site do condomínio, caixas de sugestão, além de manter o livro de ocorrências sempre em dia.</p>
                            <p>Em alguns empreendimentos há até informativos mensais, que ficam pregados nos quadros de avisos. Outros preferem ter um blog ou site, em que não há custos de impressão. De qualquer modo, o importante é ter tempo e disponibilidade para ouvir os moradores.</p>
                            <p>Pesquisas de satisfação entre os moradores também são muito úteis para dar voz aos moradores. O Tim Mais está sendo atualizado para oferecer enquentes para subsidiar o síndico nas tomadas de decisões.</p>
                            <p>O uso de sites condominiais em locais desse porte também pode ser uma boa alternativa. Com a comunicação centralizada e organizada no site, administração e moradores não precisam esperar por assembleias ou reuniões do conselho para trocarem suas opiniões sobre diversos assuntos, além de poder gerenciar reservas de espaços, registrar ocorrências e acessar documentos como atas e o regimento interno.</p>
                            <p>Ao se utilizar de um meio eletrônico para dialogar com os moradores, o síndico consegue centralizar e organizar diversas comunicações em um só canal, minimzando assim o tempo gasto com o atendimento aos condôminos."</p>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>

