@{
    ViewBag.Title = "Sindmepa";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row">
    <div class="col-sm-6 col-md-12">
        <div class="thumbnail">
            <img src="http://www.always.com.br/site2005/fotos/graf_geneses01.jpg" alt="">
            <div class="row clearfix">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <h1 class="text-center">Benefícios da sindicalização</h1>
                    <p>
                        Um sindicato existe para beneficiar e defender seus associados. Somente um sindicato de classe sério oferece exatamente o que você precisa.
                    </p>
                    <p>
                        Ao se associar ao Sindmepa, você faz uma parceria que estará sempre com você. Seja por meio do serviço de atendimento 24h, pelo celular SOS (9989-3386) ou na sede do sindicato. Tudo ao seu alcance, de maneira simples e completa.
                    </p>
                    <p>
                        O Sindmepa conta com a 5ª maior estrutura médica sindical do Brasil: são dois auditórios com capacidade para até 100 pessoas; assessoria jurídica em todas as esferas: trabalhista, cível, criminal e penal; plano de saúde Unimed com desconto; plano de previdência Simeprev/Petros; seguro de vida e seguro de renda; seguro de carro, farmácia; convênios com mais de 40 empresas parceiras. E ainda 1.500 metros de área construída, plano odontológico Uniodonto com as menores tarifas do mercado; e curso de pós-graduação com desconto.
                    </p>
                    <p>
                        No Sindmepa as decisões são tomadas por 22 diretores que fazem parte de uma administração colegiada. Este grupo representa todos os sindicalizados e garante uma participação mais democrática nas decisões de interesse da nossa categoria profissional. Junte-se a mais de 2.000 profissionais médicos do Pará. Venha para o Sindmepa.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

