@{
    ViewBag.Title = "Sindmepa";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row">
    <div class="col-sm-6 col-md-12">
        <div class="thumbnail">
            @*<img src="http://vivareciclando.files.wordpress.com/2012/06/shutterstock_87862600.jpg" alt="">*@
            <div class="row clearfix">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <h1 class="text-center">Sindicato dos Médicos do Pará:  33 anos de lutas e conquistas</h1>
                    <p>
                        O embrião da organização médica no Pará nasceu no início do século XX, com a fundação da Associação Médica do Estado do Pará. Pouco registro se tem da atuação da associação. O fato é que, no dia 6 de janeiro de 1979, a associação foi reativada pelo médico Waldir Mesquita e Júlio Cruz, antigo integrante da instituição e Zuza Klautau. Este foi o embrião do nascimento do sindicato, que foi fundado em 16 de outubro de 1981 e teve como seu primeiro presidente Zuza Klautau, nomeado pelo Ministério do Trabalho.
                    </p>
                    <p>
                        A solenidade de fundação aconteceu no auditório do Conselho Regional de Medicina Pará, que também aprovou o estatuto social do Sindicato dos Médicos e o mandato da diretoria, que, na época, era de três anos. Na solenidade estavam presentes os médicos: Cláudio José Dias Klautau, José Raimundo da Silva Árias, Luiz Gonzaga Cardoso Nogueira, Waldir Paiva Mesquita, Laércio Pontes Francês, José Luiz de Andrade Serra, Fernando Maria de Moura Bastos, Irson da Silva Leite, Ana Maria Rocha Ximenes Pontes, Eurico Sena Rodrigues, Roberto Elias da Silva Dias e Yehuda Benguigui.
                    </p>
                    <p>Também em 2005 o Ministério do Trabalho outorgou ao Sindicato dos Médicos, por requisição da antiga Associação Profissional dos Médicos do Pará, a Carta Sindical reconhecendo o estatuto e a nova entidade, com o nome atual.</p>
                    <p>Com o tempo o sindicato foi se consolidando e buscando ser mais presente nas lutas da categoria e democrático. A partir de reuniões e com o desejo de democratizar mais ainda as decisões do sindicato, em 1994, no final da diretoria da gestão do médico Waldir Cardoso, presidente, foi instituída a diretoria colegiada. Que possibilita a maior participação de todos os membros da diretoria, acabando com o centralismo que há no cargo de presidente.</p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://4.bp.blogspot.com/-KsNaEnTQz1U/UHOZFvgO5TI/AAAAAAAAIeg/q6eC-Md9ZHY/s1600/original_conselho.jpg" alt="">
                </a>
                <div class="media-body">
                    <p class="text-primary text-left lead"><strong>A luta continua</strong></p>
                    <p>
                        Ao longo do tempo, o Sindicato dos Médicos do Estado Pará (Sindmepa) consolidou o seu nome como um dos principais aliados na defesa dos direitos dos pacientes e dos médicos no Estado do Pará. Sendo leal à causa da luta pela melhoria do Sistema Único de Saúde e a implantação do Plano de Cargos, Carreiras e Vencimentos (PCCV).
                    </p>
                    <p>
                        Com a participação em diversos movimentos médicos e a discussões estaduais, municipais e nacionais sobre a qualidade na área de saúde, o Sindmepa ampliou o número de médicos sindicalizados e sua representatividade diante da classe e da opinião pública.
                    </p>
                    <p>
                        Além disso, o Sindmepa está permanentemente ampliando a sua atuação e qualificando os serviços oferecidos para os médicos, tendo como principal setor de ação a defensoria médica. Advogados renomados, com vasta experiência e conquistas na defesa do médico, dão plantões diários no sindicato orientando os médicos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


