@{
    ViewBag.Title = "Tim Maia";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row">
    <div class="col-sm-6 col-md-12">
        <div class="thumbnail">
            @*<img src="http://vivareciclando.files.wordpress.com/2012/06/shutterstock_87862600.jpg" alt="">*@
            <div class="row clearfix">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <h1 class="text-center">Coleta seletiva do lixo em condomínios</h1>
                    <p>
                        Nosso meio ambiente é o bem mais precioso que existe. Temos o dever de cuidar bem do planeta, para que as futuras gerações possam aproveitá-lo também.
                    </p>
                    <p>
                        E uma das maneiras mais efetivas que colaborarmos com o meio ambiente  é fazer uma boa gestão dos nossos resíduos. Por isso, a coleta seletiva em condomínios é tão importante. Ela permite que um grande número de pessoas se junte em torno de um objetivo que só trará benefícios a elas e ao planeta.
                    </p>
                    <p class="text-primary text-left lead"><strong>Como preparar o condomínio para a coleta seletiva</strong></p>
                    <p class="text-info"><strong>Adequação das instalações e comissão de moradores</strong></p>
                    <p>Ter um plano de ação é fundamental para que a coleta seletiva seja bem sucedida. O ideal é que os moradores interessados formem uma comissão.</p>
                    <p>Dessa forma, as decisões não ficam tão dependentes do síndico.</p>
                    <p>É importante que essa comissão seja referendada em uma assembleia, que também aprove a implementação da coleta seletiva.</p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://4.bp.blogspot.com/-KsNaEnTQz1U/UHOZFvgO5TI/AAAAAAAAIeg/q6eC-Md9ZHY/s1600/original_conselho.jpg" alt="">
                </a>
                <div class="media-body">
                    <p class="text-primary"><strong>A comissão deve decidir itens como:</strong></p>
                    <ul>
                        <li>O lixo reciclável será separado por material (papel, plástico, vidro, metal, embalagem longa vida) ou todos recicláveis na mesma lixeira? Em geral, há mais adesão quando o projeto prevê  os recicláveis na mesma lixeira.</li>
                        <li>Como essa separação será feita? O condomínio pode distribuir sacos de cor diferente para os materiais recicláveis, assim não há confusão por parte dos funcionários</li>
                        <li>Os funcionários do condomínio irão retirar o material reciclado dos apartamentos ou haverá uma lixeira grande, separada por material, para os próprios condôminos depositarem ali os resíduos? Nesse caso, deve-se levar em conta o preço da lixeira</li>
                        <li>Onde o lixo reciclável vai ser acondicionado até ser coletado?</li>
                        <li>Quem irá retirar a coleta seletiva do condomínio? Seja uma ONG, cooperativas ou empresa, o importante é que haja compromisso na coleta dos recicláveis.</li>
                        <li>Há também empresas que prestam consultoria para o condomínio implantar um programa de reciclagem. Os custos vêm acompanhados de farto material de divulgação, e de seis meses de apoio ao projeto.</li>
                    </ul>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <p></p>
                    <p class="text-primary"><strong>Durante a tomada dessas decisões é importante que se leve em conta:</strong></p>
                    <ul>
                        <li>O espaço que irá receber os reciclados deve ser ventilado, já que esses materiais são bem inflamáveis.</li>
                        <li>O local deve conseguir abrigar certo volume de lixo, já que cooperativas, empresas ou ONGs em geral retiram de 1 a 2 vezes por semana.</li>
                        <li>Esse ponto também deve ser de fácil acesso tanto para os funcionários do prédio quanto para aqueles que irão retirar o material.</li>
                        <li>Onde o lixo reciclável vai ser acondicionado até ser coletado?</li>
                        <li>Esse material pode ser acondicionado em bags ou contêineres. Veja se na sua cidade a prefeitura oferece algum incentivo para quem deseja implementar a coleta seletiva.</li>
                    </ul>
                    <p class="text-primary"><strong>Conscientização dos moradores e funcionários</strong></p>
                    <p>A comunicação é ferramenta primordial para o sucesso da coleta seletiva do lixo em um condomínio.</p>
                    <p>Por isso, é importante que se aposte em diversos canais de diálogo com os diferentes públicos do condomínio – como  funcionários, moradores ou seus empregados. Seja conversando pessoalmente, por banners ou cartazes, é importante mantê-los motivados e envolvidos no processo.</p>
                    <ul>
                        <li>Para sensibilizar moradores aconselha-se que seja formada uma comissão de reciclagem com pessoas que já tem o mínimo conhecimento do assunto. </li>
                        <li>O ideal é que essas pessoas subam de andar em andar, se possível no período noturno para treinar os moradores visto que a maioria não está no horário comercial de dia de semana e no Sábado provavelmente vão usar as suas horas para o lazer.  Deve haver cartazes e banners convidando as pessoas.</li>
                        <li>As crianças também devem ser envolvidas no processo. Como muitas escolas trabalham a questão da reciclagem, os menores podem expor seu conhecimento sobre o tema – dessa forma, não deixam de ajudar em casa na hora de separar o lixo</li>
                        <li>Uma boa maneira de conscientizar as empregadas domésticas é pedir que desçam por 15 minutos no dia seguinte ao evento da coleta seletiva. Um funcionário do prédio que tenha ouvido a palestra pode repassar os tópicos mais importantes  e também explicará como o material deve ser apresentado: limpo e separado</li>
                        <li>Alguns funcionários do condomínio, principalmente os da limpeza, podem ser refratários ao projeto por eles próprios venderem alguns materiais a sucateiros. Uma saída é repassar para eles uma parte do que se arrecada com os recicláveis.</li>
                        <li>Outra maneira é argumentar que a ONG que vem para pegar o lixo, retira todos os materiais e não apenas o papelão ou o metal.</li>
                        <li>Cartazes de incentivo à coleta seletiva devem ser mantidos por pelo menos três meses. Também é importante manter os moradores a par da melhora do processo. Dizer o quanto de lixo reciclável  se está arrecadando por mês ajuda a manter o interesse da separação do lixo.</li>
                        <li>Por diversos motivos como crescimento da demanda de geração de recicláveis pela população e baixa oferta da estrutura (cooperativas, indústrias e empresas de reciclagem) para atender todo esse material ; falta de incentivos financeiros e fiscais à toda cadeia da reciclagem ( indústria, empresas e cooperativas) por parte do governo, é muito improvável que o condomínio consiga ganhar dinheiro com a venda dos recicláveis.</li>
                    </ul>
                    <div class="media">
                        <a class="pull-right" href="#">
                            <img class="media-object" src="http://www.naometoquers.com.br/web/files/secretarias/obras/coleta-seletiva.jpg" alt="">
                        </a>
                        <div class="media-body">
                            <p class="text-primary text-left"><strong>Retirada do material gerado pela coleta seletiva</strong></p>
                            <p class="text-info">Como é feito o escoamento e descarte da coleta seletiva em condomínios</p>
                            <p>Depois de conscientizar os moradores, esse é o momento mais estratégico da coleta seletiva nos condomínios. Saber a destinação que será dada ao material reciclado é fundamental</p>
                            <ul>
                                <li>Veja se no seu município a prefeitura não oferece algum tipo de coleta seletiva. Quem sabe se mais condomínios no entorno não se engajarem não é possível pedir um caminhão da prefeitura para retirada?</li>
                                <li>Ao combinar com uma ONG ou cooperativa é importante que se estabeleça, com critérios,  a periodicidade da retirada do lixo. Não adianta nem a ONG vir uma vez por mês e gerar um acúmulo enorme de material, e nem o condomínio querer que a ONG venha todos os dias.</li>
                                <li>Dependendo do tamanho do condomínio- e das dimensões do local que guarda o material – o usual é de uma a duas vezes por semana</li>
                                <li>É importante que o condomínio tenha um plano B para o caso da ONG/cooperativa parceira começar a não coletar o lixo conforme o combinado. Veja com condomínios vizinhos quem faz a coleta seletiva por lá</li>
                                <li>Pesa na hora de escolher um fornecedor se ele tem caminhão próprio e como o veículo estará no momento da coleta – não adianta, por exemplo, o caminhão já passar quase cheio em um condomínio enorme e cheio de material para escoar</li>
                                <li>Saiba com a cooperativa/ONG quem virá retirar o lixo. A preocupação com a segurança do condomínio também deve estar presente aqui</li>
                                <li>Prefira quem possa retirar todos os tipos de reciclado</li>
                                <li>Opte por trabalhar com uma cooperativa que apresente CNPJ – fica mais profissional</li>
                                <li>É possível pedir indicações de ONGs e cooperativas com a sua administradora. Veja com quem a empresa já trabalhou e achou bacana ou não</li>
                            </ul>
                            <p class="text-primary text-left"><strong>Alternativa</strong></p>
                            <ul>
                                <li>Se não houver nenhuma dessas alternativas em suas regiões você pode recorrer a setor privado. Atualmente, há empresas que cobram para fazer a retirada dos recicláveis atualmente. Apesar da cobrança, você terá certeza que não haverá acúmulo de recicláveis em seu condomínio, a destinação será correta e o condomínio ainda ganhará uma assessoria ambiental para melhorar o processo de coleta seletiva e conscientização ambiental dos moradores e funcionários.</li>
                            </ul>
                        </div>
                    </div>
                    <p></p>
                    <p class="text-primary text-left lead"><strong>Dúvidas frequentes sobre coleta seletiva</strong></p>
                    <p>É inegável que implantar um programa de coleta seletiva pode dar trabalho e gerar dúvidas. Mas o projeto não precisa ser um monstro de sete cabeças.</p>
                    <p>Munido das informações certas, sabendo diferenciar o que é mito e o que é verdade, o caminho até uma coleta seletiva eficaz no seu condomínio fica muito mais fácil.</p>
                    <p class="text-primary text-left"><strong>Quanto tempo demora para que a coleta seletiva caminhe sozinha?</strong></p>
                    <p>Após o período inicial de três meses, o processo começa a tomar forma, e os desvios no caminho vão diminuindo. Aqueles que no início não demonstraram interesse necessário para participar, podem começar a aderir. Se não houver grandes problemas, em nove meses a coleta seletiva está implantada.</p>
                    <p class="text-primary text-left"><strong>Quem terá mais trabalho ao implementar esse projeto?</strong></p>
                    <p>Em geral, são as pessoas que participam da comissão de coleta seletiva no condomínio, já que têm de pesquisar quem virá fazer a coleta,  estimar quanto de material reciclado o condomínio gera.</p>
                    <p>Também  terão de fazer os primeiros esforços de conscientização dos funcionários, organizarem alguém que dê a palestra sobre o tema.</p>
                    <p class="text-primary text-left"><strong>Meus funcionários não querem ajudar. Por quê?</strong></p>
                    <p>Em geral, se os funcionários não se interessaram pelo projeto é porque ou não o entenderam corretamente ou ganhavam algum lucro revendendo eles mesmos  esses materiais.</p>
                    <p>É importante educar essa população ressaltando  que quem vai retirar os reciclados busca todos os tipos de materiais. Também vale reverter para eles uma parcela do que o condomínio arrecadar com a coleta</p>
                    <p class="text-primary text-left"><strong>O que fazer com pilhas, lâmpadas fluorescentes e óleo de cozinha?</strong></p>
                    <p>Atualmente não se recicla mais apenas plástico, papel, vidro e metal. As pilhas, por exemplo, são altamente contaminantes. O banco Santander, por exemplo, conta com papa-pilhas em todas as suas agências.</p>
                    <p>O condomínio pode se organizar para guardar pilhas e baterias por um tempo até juntar certo volume e algum funcionário do condomínio pode levar o material a uma agência mais próxima. Outra empresa é a Eco-cel, que é especializada em recollhimento de baterias de celulares</p>
                    <p>As lâmpadas fluorescentes contêm materiais que contaminam como o mercúrio, por exemplo. Há sim a possibilidade de reciclagem, mas quem trabalha com esse tipo de material cobra pela sua retirada. Em São Paulo, uma possibilidade é entregar essas lâmpadas em grandes home centers, que se comprometem em reciclá-las, porém somente em pequena quantia.</p>
                    <p>Se o condomínio tiver um grande quantidade e quiser destiná-las corretamente, terá que recorrer a empresas de descontaminação de lâmpadas que cobram pelo serviço, de R$ 0,80 a R$ 1,50 por lâmpada.</p>
                    <p>O óleo de cozinha também é bastante contaminante. Estima-se que um litro de óleo possa poluir mais de 20 mil litros de água. Para evitar esse cenário, basta guardar o óleo usado em um grande recipiente.  Geralmente, entrando em contato com alguma empresa que faça a coleta do óleo, a bomba (recipiente) é oferecida gratuitamente</p>
                    <p class="text-primary text-left"><strong>O síndico terá trabalho adicional?</strong></p>
                    <p>Segundo as fontes consultadas, o síndico somente terá um trabalho adicional caso participe da comissão de coleta seletiva. E o trabalho dessas pessoas só é realmente grande na fase inicial do projeto.</p>
                    <p>O acompanhamento demanda, sim, algum esforço, mas é relativamente pequeno. O síndico, como líder, deve motivar o conselho e todos os seus vizinhos a se engajarem pela causa.</p>
                    <p class="text-primary text-left"><strong>Os funcionários terão mais trabalho?</strong></p>
                    <p>Não terão mais trabalho, mas precisam se adequar aos novos procedimentos. Para tanto, precisam ser treinados e instruídos. Mesmo com todo o trabalho de conscientização dos funcionários, é importante que não recaia sobre eles a responsabilidade de separar o lixo das unidades.</p>
                    <p>Quando não há envolvimento dos moradores, o material reciclado já chega muito contaminado, e a reciclagem fica muito comprometida, já que os funcionários precisam procurar garrafas pet, e alumínio entre itens como fraldas, lixo orgânico e papel higiênico usado.</p>
                    <p>O lixo é dos moradores, e é portanto responsabilidade deles a separação dos materiais.  O papel dos funcionários é o de ajudar, verificando se o morador jogou o saco errado ou até mesmo auxiliando os moradores e funcionárias domésticas com dicas para melhorar a coleta seletiva.</p>
                    <p></p>
                    <p class="text-primary text-left lead"><strong>Lista de materiais recicláveis e não-recicláveis</strong></p>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://www.riocaminhadas.com.br/dicas/figuras/decomposicao.gif" alt="">
                        </a>
                        <div class="media-body">
                            <p class="text-info text-left"><strong>Plástico</strong></p>
                            <table class="table table-condensed">
                                <tr class="btn-primary">
                                    <td class="col-md-6"><strong>Reciclável</strong></td>
                                    <td class="col-md-6"><strong>Não Reciclável</strong></td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">Copos</td>
                                    <td class="col-md-6">Embalagem Metalizada (Café e Salgadinho)</td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">Garrafas</td>
                                    <td class="col-md-6">Isopor e bandejas de isopor</td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">Sacos/Sacolas</td>
                                    <td class="col-md-6">Cabos de Panelas</td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">Frascos de produtos</td>
                                    <td class="col-md-6">Espuma</td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">Embalagens Pet (Refrigerantes, Óleo, Vinagre,...)</td>
                                    <td class="col-md-6">Bandejas de plástico</td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">Canos e Tubos de PVC</td>
                                    <td class="col-md-6">Acrílico</td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">Caneta (Sem a tinta)</td>
                                    <td class="col-md-6"></td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">Tampas</td>
                                    <td class="col-md-6"></td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">Embalagens tipo Tupperware</td>
                                    <td class="col-md-6"></td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">Embalagens de produto de limpeza</td>
                                    <td class="col-md-6"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <p></p>
                    <p class="text-info text-left"><strong>Papel</strong></p>
                    <table class="table table-condensed">
                        <tr class="btn-primary">
                            <td class="col-md-6"><strong>Reciclável</strong></td>
                            <td class="col-md-6"><strong>Não Reciclável</strong></td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Jornais e Revistas</td>
                            <td class="col-md-6">Papéis Sanitários (papel higiênico)</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Listas Telefônicas</td>
                            <td class="col-md-6">Papéis Plastificados</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Papel Sulfite/Rascunho</td>
                            <td class="col-md-6">Papéis engordurados</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Papel de Fax</td>
                            <td class="col-md-6">Etiquetas adesivas</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Folhas de Caderno</td>
                            <td class="col-md-6">Papéis Parafinados</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Formulários de Computador</td>
                            <td class="col-md-6">Papel carbono</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Caixas em Geral (ondulado)</td>
                            <td class="col-md-6">Papel celofane</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Aparas de Papel</td>
                            <td class="col-md-6">Guardanapos</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Fotocópias</td>
                            <td class="col-md-6">Bitucas de Cigarros</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Envelopes</td>
                            <td class="col-md-6">Fotografias</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Rascunhos</td>
                            <td class="col-md-6"></td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Cartazes Velhos</td>
                            <td class="col-md-6"></td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Cartolinas e papel cartão</td>
                            <td class="col-md-6"></td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Caixa de Pizza</td>
                            <td class="col-md-6"></td>
                        </tr>

                    </table>

                    <p></p>
                    <p class="text-info text-left"><strong>Vidros</strong></p>
                    <table class="table table-condensed">
                        <tr class="btn-primary">
                            <td class="col-md-6"><strong>Reciclável</strong></td>
                            <td class="col-md-6"><strong>Não Reciclável</strong></td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Potes de conservas</td>
                            <td class="col-md-6">Espelhos</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Embalagens</td>
                            <td class="col-md-6">Boxes Temperados</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Frascos de remédios vazios</td>
                            <td class="col-md-6">Louças</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Copos</td>
                            <td class="col-md-6">Óculos</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Cacos dos produtos citados</td>
                            <td class="col-md-6">Cerâmicas, porcelanas, pirex</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Vidros Especiais (Tampa de forno e icro ondas)</td>
                            <td class="col-md-6">Tubos de TV e monitores</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Garrafas</td>
                            <td class="col-md-6">Para-brisa de carros</td>
                        </tr>
                    </table>


                    <p></p>
                    <p class="text-info text-left"><strong>Metal</strong></p>
                    <table class="table table-condensed">
                        <tr class="btn-primary">
                            <td class="col-md-6"><strong>Reciclável</strong></td>
                            <td class="col-md-6"><strong>Não Reciclável</strong></td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Tampinhas de Garrafas</td>
                            <td class="col-md-6">Clipes</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Latas</td>
                            <td class="col-md-6">Grampos</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Enlatados</td>
                            <td class="col-md-6">Esponja de Aço</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Panelas sem cabo</td>
                            <td class="col-md-6">Aerossóis</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Ferragens</td>
                            <td class="col-md-6">Latas de Verniz</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Arames</td>
                            <td class="col-md-6">Latas de solventes Químicos</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Chapas</td>
                            <td class="col-md-6">Latas de inseticidas</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Canos</td>
                            <td class="col-md-6"></td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Pregos</td>
                            <td class="col-md-6"></td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Cobre</td>
                            <td class="col-md-6"></td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Embalagem de marmitex</td>
                            <td class="col-md-6"></td>
                        </tr>
                        <tr>
                            <td class="col-md-6">Papel alumínio limpo</td>
                            <td class="col-md-6"></td>
                        </tr>

                    </table>

                </div>
            </div>

        </div>
    </div>
</div>


