@{
    ViewBag.Title = "Parc Paradiso";
    Layout = "~/Views/Shared/_LayoutFixed.cshtml";
}
<h2>André de Freitas Borges Leal.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Av Conselheiro Furtado, 2312 - Oásis 1304<br />
    Belém-Pa, Cep: 66040-105<br />
    <abbr title="Telefone">(91)</abbr>
    9985-1809 
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:andreborgesleal@live.com">andreborgesleal@live.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:afbleal@gmail.com">afbleal@gmail.com</a>
</address>

<hr />

<h2>Antônio José Darwich Borges Leal</h2>
<h3>Infraestrutura e Segurança - Redes de computadores</h3>

<address>
    Av Conselheiro Furtado, 2312 - Gênesis 1203<br />
    Belém-Pa, Cep: 66040-105<br />
    <abbr title="Telefone">(91)</abbr>
    8142-0053
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:zecadbleal@gmail.com">zecadbleal@gmail.com</a>
</address>
