@{
    ViewBag.Title = "Parc Paradiso";
    Layout = "~/Views/Shared/_LayoutFixed.cshtml";
}
<h2>SINDMEPA</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Boaventura da Silva, 999<br />
    Nazaré<br />
    Belém-Pa, Cep: 66055-090<br />
    <abbr title="Telefone">(91)</abbr>
    3224-3096
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:sindmepa@gmail.com">sindmepa@gmail.com</a><br />
</address>

<hr />

