@{
    ViewBag.Title = "Tim Maia";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row">
    <div class="col-sm-6 col-md-12">
        <div class="thumbnail">
            @*<img src="http://www.revistam2.com.br/wp-content/uploads/2012/11/garage-001.jpg" alt="">*@
            <div class="row clearfix">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <h1>Problemas no uso da garagem</h1>
                    <p class="text-enfatico">Carros estacionados fora da vaga, motos, danos, furtos, uso como depósito, buzinas, portões automáticos, ...</p>
                    <p>Selecionamos abaixo algumas das situações mais comuns envolvendo o mau uso do local, os problemas que estas práticas podem gerar, e sugestões para normalizar a utilização.</p>
                    <p>As sugestões elencadas não excluem a aplicação de multas e advertências – pelo contrário. Mesmo quando não citamos entre as sugestões, elas podem e devem ser aplicadas.</p>
                    <p>No entanto, nosso foco aqui foi ampliar o leque de atitudes que podem ser tomadas para combater os problemas de mau uso da garagem. Além de esclarecer sobre certas conseqüências imprevistas geradas pela utilização fora da norma.</p>
                    <p class="text-primary text-left lead"><strong>1) Carro parado fora da vaga</strong></p>
                    <p><strong>PROBLEMAS QUE PODE CAUSAR:</strong></p>
                    <ul>
                        <li>Impedir a circulação na garagem, gerando atrasos em compromissos de condôminos ou até, para citar casos extremos mas possíveis, dificultando socorro a um condômino doente, ou que tenha tido um acidente ou mal súbito, ou dificultando a saída de um morador que tenha de atender a um chamado urgente (no caso de um médico, por exemplo)</li>
                        <li>Desorganização do uso da garagem: se você para na vaga de alguém, esse também vai ter de parar em uma vaga errada, criando um “problema em cascata”</li>
                        <li>Irritação entre vizinhos</li>
                    </ul>
                    <p><strong>SUGESTÕES:</strong></p>
                    <ul>
                        <li>Agir rapidamente e com firmeza. Não hesitar em aplicar as advertências e multas previstas na Convenção e no Regimento Interno. Esse é um problema que, se não for combatido desde o princípio e seriamente, pode gerar uma prática que se torna uma das principais causas de atrito em condomínios</li>
                        <li>Realizar uma campanha de esclarecimento, com cartazes no elevador e no quadro de avisos da garagem, se houver</li>
                        <li>Além disso, se houver câmeras na garagem, pode-se orientar o porteiro ou zelador interfonar imediatamente para a unidade relativa ao automóvel deixado fora da vaga, solicitando o estacionamento na vaga correta. É claro que isso só será feito se não for preciso deixar a portaria a descoberto para identificar o veículo. O porteiro pode solicitar a identificação ao zelador ou a um funcionário que esteja próximo ao local</li>
                        <li>Para não privilegiar ou desprivilegiar ninguém por muito tempo, com as melhores ou piores vagas, realizar rodízio das vagas em períodos mais curtos</li>
                        <li>Quando houver espaço disponível, pode ser tentada a redistribuição das vagas com a criação de uma vaga de carga e descarga, próxima ao elevador, com permanência de 15 minutos com o pisca-alerta aceso.</li>
                    </ul>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://2.bp.blogspot.com/-zVZKv-sSZQs/T9PZZbhMyTI/AAAAAAAAFP0/tiBBywHlbWo/s1600/garagem+1.jpg" alt="">
                </a>
                <div class="media-body">
                    <p class="text-primary text-left lead"><strong>2) Carro maior que a vaga</strong></p>
                    <p><strong>PROBLEMAS QUE PODE CAUSAR:</strong></p>
                    <ul>
                        <li>Dificuldade de acesso às vagas vizinhas</li>
                        <li>Dificuldade de manobra</li>
                        <li>Ocupação de uma área maior do que a que o condômino tem direito</li>
                    </ul>
                    <p><strong>SUGESTÕES:</strong></p>
                    <ul>
                        <li>Antes de mais nada, consulte a Convenção e o Regulamento do condomínio sobre o assunto: veja se existem normas sobre o tamanho do veículo que pode ser estacionado.</li>
                        <li>É dever do novo condômino ou morador conhecer e aceitar a Convenção e o Regulamento do condomínio para o qual está se mudando – pelo menos até que a Convenção seja modificada em assembleia, com o voto de 2/3 dos condôminos</li>
                    </ul>
                    <p class="text-uppercase"><strong>ALTERNAIVAS JURÍDICAS PARA SOLUÇÃO DE CONFLITOS</strong></p>
                    <a href="#modal-container-964987j" data-toggle="modal">Principais meios jurídicos disponíveis para quem mora em condomínio:</a>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <p>&nbsp;</p>
                    <h4>O que diz o regimento interno do Parc Paradiso no capítulo VI "DA GARAGEM/ESTACIONAMENTO" alíneas a) e g)</h4>
                    <h4 class="lead alert alert-info text-mama-africa">
                        <strong>Art. 36.</strong> São proibidos no uso da garagem:<br />
                        a) estacionar veículos fora dos limites demarcados para as respectivas vagas, salvo quando comprovado por escrito o consentimento de outro morador que disponha de vaga livre;<br />
                        g) estacionar em posição irregular ou fora de sua própria vaga, de modo a dificultar a circulação ou as manobras dos outros veículos;
                    </h4>
                    <p class="text-primary text-left lead"><strong>3) Carro e moto ou bicicleta na mesma vaga</strong></p>
                    <p><strong>PROBLEMAS QUE PODE CAUSAR:</strong></p>
                    <ul>
                        <li>Dificultar manobra nas vagas vizinhas</li>
                        <li>Dificultar acesso às vagas vizinhas</li>
                        <li>Apesar disso, em alguns condomínios, tal prática costuma ser tolerada sem gerar atritos, desde que as vagas sejam espaçosas e os veículos não ultrapassem a faixa que delimita o seu espaço.</li>
                        <li>Por outro lado, em muitos casos, isso pode tornar inviável a organização da garagem e, consequentemente, virar uma grande fonte de atritos. Assim, muitos condomínios permitem apenas um veículo por vaga – OU um carro, OU uma moto, OU uma bicicleta. Dessa forma, liberar o estacionamento dos dois, em casos isolados, pode descaracterizar a norma e abrir o precedente para uso da vaga como depósito (vide abaixo os problemas neste caso)</li>
                    </ul>
                    <p><strong>SUGESTÕES:</strong></p>
                    <ul>
                        <li>Aplicar rigidamente a Convenção e o Regulamento. Transigir em um caso ou dois pode abrir precedentes perigosos.</li>
                        <li>Construção de bicicletário</li>
                    </ul>
                    <p class="text-primary text-left lead"><strong>4) Uso da vaga como depósito</strong></p>
                    <p><strong>PROBLEMAS QUE PODE CAUSAR:</strong></p>
                    <ul>
                        <li>Ruim para a higiene: materiais como madeira e papel tornam-se facilmente abrigo e alimento para insetos que podem se alastrar no condomínio</li>
                        <li>Desvirtua o uso da área comum previsto na Convenção</li>
                        <li>Pode expor as crianças do condomínio a objetos perigosos.</li>
                        <li>Em excesso, pode dificultar manobras e acesso a vagas</li>
                        <li>Inconeniente esteticamente, criando aparência de bagunça</li>
                    </ul>
                    <p><strong>SUGESTÕES:</strong></p>
                    <ul>
                        <li>Agir rapidamente na aplicação de advertência e multa, antes que a prática se instale e que algum problema aconteça – neste caso, por negligência, o condomínio pode até ser processado</li>
                        <li>Colocar um cartaz de alerta sobre o problema, em área comum</li>
                    </ul>
                    <p class="text-primary text-left lead"><strong>5) Buzinada para abrir portão</strong></p>
                    <p><strong>PROBLEMAS QUE PODE CAUSAR:</strong></p>
                    <ul>
                        <li>Incômodo aos moradores dos andares mais baixos</li>
                        <li>Problemas com moradores de imóveis vizinhos ao condomínio</li>
                        <li>É um procedimento que, por chamar a atenção, expõe a segurança do condomínio</li>
                    </ul>
                    <p><strong>SUGESTÕES:</strong></p>
                    <ul>
                        <li>Os condomínios mais seguros atualmente não permitem que o porteiro abra o portão de veículos que simplesmente buzinem para entrar. Muitos assaltos já ocorreram por esta “brecha” de segurança. Mesmo que o carro não tenha vidros escuros, à noite o porteiro pode ter de abandonar seu posto para verificar se é mesmo um condômino que quer entrar</li>
                        <li>É claro que, para isso ocorrer, o condomínio tem que ter acesso eficiente por controle remoto, e igualmente importante, ter estabelecido esta regra com anuência dos condôminos, em assembleia. O porteiro deve ser bem orientado neste sentido</li>
                        <li>Se seu condomínio não adota esta regra, pode-se sugerir aos condôminos piscar o farol do veículo, se for à noite, para evitar o barulho da buzina</li>
                        <li>Neste caso, se as buzinadas acontecerem muitas vezes ou durante um longo tempo em uma vez, pode ser também um sinal de distração ou ausência do porteiro no posto. Peça para o zelador observar o caso</li>
                        <li>Ainda neste caso, pode-se criar, apenas para a saída (nunca para a entrada), uma alternativa para o acionamento dos portões</li>
                    </ul>
                </div>
            </div>
            <div class="media">
                <a class="pull-right" href="#">
                    <img class="media-object" src="http://i2.wp.com/imagempessoal.band.uol.com.br/wp-content/uploads/2013/07/81288732402026652.jpeg" alt="">
                </a>
                <div class="media-body">
                    <p class="text-primary text-left lead"><strong>Dicas de etiqueta: Garagem</strong></p>
                    <p><strong>Atitudes para melhorar o uso da garagem com gentileza e valorização da convivência</strong></p>
                    <ul>
                        <li>Quando alguém para seu carro fora da demarcação da vaga, atrapalha a vida de muita gente – o carro ao lado tem de ser parado também fora da demarcação, e o vizinho deste também, criando um “efeito cascata” que pode ser evitado com um pouco de boa vontade.</li>
                        <li>Cuidado ao abrir a porta do carro, para não bater ao carro ao lado. É uma medida simples que evita brigas e prejuízos.</li>
                        <li>A vaga do seu veículo na garagem deve servir apenas para isso: ser a vaga do seu veículo. Não é seguro nem correto utilizar-se deste espaço como depósito de objetos ou entulho.</li>
                        <li>O carrinho para conduzir volumes, infelizmente, não tem vontade própria. Mas é tão bom quando chegamos carregados e encontramos ele no lugar, não é?</li>
                    </ul>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <ul>
                            <li>Estacionar seu veículo fora da vaga, mesmo por “cinco minutinhos”, não é uma boa idéia. No condomínio moram muitas pessoas, com muitas necessidades diferentes – por isso, os “cinco minutinhos” podem atrapalhar muito mais do que você imaginou inicialmente.</li>
                            <li>Não é só o porteiro que escuta a sua buzina quando você pede para ele abrir o portão. Imagine se todos forem fazer isso todas as vezes que entrarem na garagem, como vai ser infernal a vida de quem está no térreo, nos andares baixos, nos terrenos vizinhos... Portanto, não faça disso uma prática, utilizando-se do procedimento apenas em último caso.</li>
                            <li>A garagem não é um lugar adequado para crianças brincarem, além de ser perigoso.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@***********Formulário Modal Botão Alternativas jurídicas **************@
<div class="modal fade" id="modal-container-964987j" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                    Alternativas jurídicas para solução de conflitos. 
                </h4>
            </div>
            <div class="modal-body Scroll">
                <div class="row clearfix">
                    <div class="col-md-5">
                        <p><img src="http://wiltondeferrinho.com.br/wp-content/uploads/vereador-250x239-250x150.jpg" alt="" /></p>
                    </div>
                    <div class="col-md-7">
                        <h4><strong>Principais meios jurídicos disponíveis para quem mora em condomínio</strong></h4>
                        <p>Infelizmente sempre haverá problemas na vida em condomínio – afinal, não é fácil dividir um espaço entre tantas pessoas.</p>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12">
                        <p>Esses conflitos podem ser de diversas naturezas: seja do morador que não paga em dia seus compromissos, o funcionário que processa o condomínio, ou uma briga entre vizinhos, há diversas maneiras de resolver o entrevero legalmente.</p>
                        <p>Importante lembrar que o diálogo amigável deve vir primeiro, seguido de advertência. Só depois entra-se com multas, e, em último caso, parte-se para o âmbito jurídico. Tentar evitar essa forma de resolução de conflito economiza recursos, é mais rápido e evita bastante “dores de cabeça” para os envolvidos. </p>
                        <p>Aqui, listamos as principais alternativas jurídicas disponíveis ao síndico para resolução de diversos tipos de problemas, com seus prós e contras. Confira!</p>
                        <p class="text-primary"><strong>JUSTIÇA COMUM</strong></p>
                        <p>O certo é chamá-lo de Poder Judicial Estadual. Aqui se aplica a Justiça para casos comuns que precisem de uma competência específica sobre uma matéria (como Justiça Federal Cível, Criminal, Previdenciária ou Fiscal). É também por meio do Poder Judicial Estadual que se resolvem conflitos envolvendo pessoas comuns, sem foro privilegiado.</p>
                        <ul>
                            <li><strong>Quando usá-la: </strong> É o modo mais comum de se resolver problemas quando não há um acordo possível.</li>
                            <li><strong>Vantagem: </strong>O que for decidido pelo juiz deverá ser acatado por todos</li>
                            <li><strong>Desvantagem: </strong>A demora, já que em alguns estados uma decisão pode demorar mais de dez anos, os custos que envolvem advogado e custas processuais.</li>
                        </ul>
                        <p class="text-primary"><strong>MEDIAÇÃO</strong></p>
                        <p>Forma de composição de conflitos caracterizada pela participação de um terceiro, o mediador. Sua função é ouvir as partes e formular propostas de solução, sem decidir. Caso as partes cheguem a um acordo, o mesmo tem poder legal.</p>
                        <ul>
                            <li><strong>Quando usá-la:</strong> Pode-se utilizar o recurso para qualquer caso, desde que as partes concordem em participar da mediação</li>
                            <li><strong>Vantagem: </strong>Rapidez</li>
                            <li><strong>Desvantagem:</strong> As duas partes devem concordar com o acordo proposto – senão, a mediação não tem valor legal. Para ser de uso obrigatório, esse tipo de resolução deve constar  na convenção do condomínio – para isso, precisa ser aprovada por dois terços dos condôminos para isso, precisa ser aprovada por dois terços dos condômino. Caso não conste na convenção, depende da vontade dos envolvidos em participar da mediação.</li>
                        </ul>
                        <p class="text-primary"><strong>ARBITRAGEM</strong></p>
                        <p>Processo de solução de conflitos jurídicos pelo qual um terceiro, tenta conciliar e, então, decidir a controvérsia. Sua decisão tem poder legal.</p>
                        <ul>
                            <li><strong>Quando usá-la:</strong> Em geral, a arbitragem é usada para resolver problemas relativos à área de negócios, mas também pode ajudar a solucionar conflitos de diversas naturezas em condomínios.</li>
                            <li><strong>Vantagem: </strong>Rapidez</li>
                            <li><strong>Desvantagem:</strong> Para ser de uso obrigatório, esse tipo de resolução deve constar  na convenção do condomínio – para isso, precisa ser aprovada por dois terços dos condôminos.Caso não conste, depende da vontade dos envolvidos participar da arbitragem</li>
                        </ul>
                        <p class="text-primary"><strong>TRIBUNAL DE PEQUENAS CAUSAS ou JUIZADO ESPECIAL</strong></p>
                        <p>Hoje o nome correto é Juizado Especial, podendo ser Cível ou Criminal. Sua diferença com a “Justiça Comum” é a rapidez. No Juizado Especial há uma fase inicial de Conciliação e outra fase para colher as provas e para a decisão.</p>
                        <ul>
                            <li><strong>Quando usá-la:</strong> Para casos de Direito Civil ou Criminal. O valor da ação não deve superar 40 salários mínimos</li>
                            <li><strong>Vantagem: </strong>
                                <ul>
                                    <li>Rapidez</li>
                                    <li>Em causas cujo valor seja de até 20 salários mínimos, não é preciso ter advogado.</li>
                                    <li>Rito simplificado e solução rápida (na maioria dos casos).</li>
                                </ul>                                        
                            </li>
                            <li><strong>Desvantagem:</strong> 
                                <ul>
                                    <li>Em alguns locais, um processo pode demorar tanto quanto no Poder Judiciário Estadual, o autor não deve ser pessoa jurídica e o valor da ação não deve superar 40 salários mínimos. Você até pode propor ações acima de 40 salários mínimos, mas, normalmente, abre-se mão de receber o valor que excede o limite indenizatório do JEC.</li>
                                    <li>Em causas cujo valor seja acima de 20 salários mínimos, é preciso ter advogado.</li>
                                    <li>Em algumas cidades o JEC não aceita ações de cobrança de taxa condominial atrasada.</li>
                                    <li>Não podem ser usados para pedidos de indenização por danos morais.</li>
                                </ul>
                            </li>
                        </ul>
                        <p class="text-primary"><strong>PROCON</strong></p>
                        <p>Órgão de defesa das relações de consumo, com caráter educativo, fiscalizador e conciliador.</p>
                        <ul>
                            <li><strong>Quando usá-la:</strong> Quando houver problemas de ordem de consumo - como um fornecedor que não entregou um material ou serviço como combinado.</li>
                            <li><strong>Vantagem: </strong>Facilidade em acionar o órgão</li>
                            <li><strong>Desvantagem:</strong>O processo pode ser burocrático e se encaminhar para um processo judicial comum, o que demora</li>
                        </ul>
                        <p class="text-primary"><strong>PROTESTOS</strong></p>
                        <p>Forma de se levar a público que o indivíduo não arcou com um compromisso assumido.  Não faz com que o devedor pague a dívida, apenas alerta que há dívidas pendentes em seu nome.</p>
                        <ul>
                            <li><strong>Quando usá-la:</strong> Em geral, se usa o protesto ao condômino inadimplente em cidades onde isso é permito – dessa forma, o nome da pessoa consta em uma lista das entidades de proteção ao crédito</li>
                            <li><strong>Vantagem: </strong>Facilidade em protestar</li>
                            <li><strong>Desvantagem:</strong>O inadimplente não paga mais rápido -  e nem é obrigado a isso, por causa do protesto. Também há o perigo do condomínio protestar a pessoa errada e ficar passível de processo judicial por esse motivo.</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
