@{
    ViewBag.Title = "Sindmepa";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="row">
    <div class="col-sm-6 col-md-12">
        <div class="thumbnail">
            <img src="http://www.segpro.com.br/wp-content/uploads/2013/05/defesa-profissional.jpeg" alt="">
            <div class="row clearfix">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <h1 class="text-center">Defesa Médica</h1>
                    <p>
                        Segundo levantamento estatístico feito pelo Sindicato dos Médicos do Pará (Sindmepa) , as maiores demandas dos associados dizem respeito a defesas em procedimentos administrativos junto ao Conselho Regional de Medicina do Estado do Pará (CRM/PA) e ao Conselho Federal de Medicina (CFM). Também aparece na lista a busca por representação junto ao poder Judiciário Estadual - fato bastante comum nos dias atuais, em que a relação médico-paciente é entendida como relação de consumo. 
                    </p>
                    <p>
                        Nesse sentido, o Sindmepa oferece, cada vez mais, um serviço completo de assessoria jurídica nas esferas das justiças cíveis estadual e federal, penal, trabalhista e administrativa.
                    </p>
                    <p>
                        Para a utilização dos serviços de assessoramento jurídico o associado deve, necessariamente, estar em dia com suas obrigações perante a entidade sindical.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
