@{
    ViewBag.Title = "Tim Maia";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row">
    <div class="col-sm-6 col-md-12">
        <div class="thumbnail">
            @*<img src="http://www.clarianseguros.com.br/wp-content/uploads/2013/01/008.jpg" alt="">*@
            <div class="row clearfix">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <h1>Responsabilidade civil e criminal do síndico</h1>
                    <p>A responsabilidade civil do síndico ocorre quando as atribuições do cargo não são cumpridas adequadamente, ocasionando prejuízos aos condôminos ou a terceiros.</p>
                    <p>A responsabilidade criminal do síndico acontece quando este não cumpre suas atribuições, levando-o não apenas a uma omissão, mas a uma prática que pode ser entendida como criminosa ou contravenção.</p>
                    <p class="text-primary text-left lead"><strong>Responsabilidade Criminal</strong></p>
                    <ul>
                        <li>A responsabilidade criminal do síndico envolve geralmente os crimes contra a honra (injúria, calúnia e difamação), a apropriação indébita de fundos do condomínio, e a apropriação indébita de verbas previdenciárias dos funcionários.</li>
                        <li>Para os crimes contra a honra, o Código Penal prevê penas de um mês a dois anos de reclusão, além de multa</li>
                        <li>Para apropriação indébita de fundos do condomínio, o CP prescreve reclusão de um a quatro anos, podendo ser aumentada de um terço, e multa.</li>
                        <li>Para apropriação indébita de verbas previdenciárias dos funcionários, as penas previstas são de dois a cinco anos, e multa.</li>
                    </ul>
                    <p class="text-primary text-left lead"><strong>Roubos, furtos e danos</strong></p>
                    <ul>
                        <li>De modo geral, o condomínio não é responsável por roubos, furtos e danos a bens individuais dos condôminos. Em especial se a convenção do condomínio tem cláusula expressa de não indenizar nesses casos. Uma excessão é quando o empreendimento tem funcionários específicos para aquela função. Exemplo: se um carro é roubado dentro do condomínio e há um garagista 24h, o condomínio pode, sim, ser acionado judicialmente.</li>
                        <li>O condomínio pode ser responsabilizado se um funcionário ocasionou danos a um condômino. E nesse caso, o síndico pode ser responsabilizado pelo condomínio, se ficar provado que não tomou as precauções necessárias na hora de contratar o funcionário, ou de averiguar se cumpria suas funções corretamente.</li>
                        <li>Como evitar problemas:<br />
                            - Não permitir que funcionários do condomínio recebam chaves dos apartamentos ou veículos dos condôminos - caso não seja manobrista.<br />
                            - Ser cuidadoso e criterioso na hora de contratar o funcionário, providenciar o treinamento necessário e sempre verificar se está cumprindo suas funções corretamente
                        </li>
                    </ul>
                    <p class="text-primary text-left lead"><strong>Playground e Piscinas</strong></p>
                    <ul>
                        <li>Para a conservação de playgrounds existem as normas técnicas da ABNT (Associação Brasileira de Normas Técnicas) - NBR 14350-1 e NBR 14350-2. O texto dessas normas pode ser adquirido junto à ABNT - <a href="http://www.abnt.org.br">www.abnt.org.br</a></li>
                        <li>A falta de manutenção nos equipamentos que gere um acidente leva à caracterização de responsabilidade civil pelos prejuízos causados aos usuários.</li>
                        <li>Essa responsabilidade também poderá atingir o síndico, se o condomínio for processado e por sua vez processar o síndico, regressivamente.</li>
                        <li>Funcionários de condomínios não têm a obrigação de tomarem conta das crianças na piscina, por isso a responsabilidade é toda dos pais e responsáveis.</li>
                        <li>A responsabilidade do síndico quanto às piscinas é apenas quanto à manutenção dos equipamentos e da água da piscina. Portanto, só há responsabilidade civil no caso da manutenção provocar alguma lesão nos usuários.</li>
                        <li>Como evitar problemas:<br />
                            providenciando a manutenção constante dos equipamentos, de acordo com as normas, e por profissionais habilitados.
                        </li>
                        <li>Cercando a área da piscina para evitar que crianças pequenas se aproximem e caiam ali</li>
                    </ul>
                    

                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://www.abepe.com.br/fotos/1(4).jpg" alt="">
                </a>
                <div class="media-body">
                    <p class="text-primary text-left lead"><strong>Funcionários - litígios</strong></p>
                    <ul>
                        <li>Quando o condomínio descumpre as leis trabalhistas, é muito comum o funcionário processar o condomínio, principalmente logo após sua rescisão, através dos advogados do seu sindicato.</li>
                        <li>Se for comprovada a ação ou omissão voluntária do síndico no caso, este poderá ser responsabilizado civilmente.</li>
                        <li>O não-pagamento de verbas previdenciárias retidas aos funcionários gera responsabilidade criminal do síndico.</li>
                        <li>Como evitar problemas:<br />
                            - Cumprindo todas as leis trabalhistas, pagamento de benefícios, com atenção às datas de vencimento.<br />
                            - Como a burocracia trabalhista é complexa, tanto em termos de leis quanto de documentos exigidos, é conveniente contratar uma empresa ou profissional para cuidar destas questões no condomínio.<br />
                            - No entanto, o síndico deve sempre exigir comprovantes da empresa<br />
                            - Caso a mão-de-obra utilizada no condomínio seja terceirizada, o síndico tambpem deve se manter alerta a pagamentos de salários e encargos, já que em caso de processo trabalhista o condomínio tem resonsabilidade subsidiária 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <p></p>
                    <p class="text-primary text-left lead"><strong>Elevadores e manutenção</strong></p>
                    <ul>
                        <li>Em casos de negligência ou imprudência na manutenção, que gerem acidentes ou danos ao equipamento, o síndico e o condomínio poderão ser responsabilizados.</li>
                        <li>
                            Como evitar problemas:<br />
                            Providenciando a manutenção constante do equipamento, contando sempre com uma empresa que tenha engenheiro responsável e técnicos devidamente treinados. Evite as empresas com valores de manutenção muito abaixo da média do mercado.
                        </li>
                    </ul>
                    <p class="text-primary text-left lead"><strong>Prestação de contas</strong></p>
                    <ul>
                        <li>É um dos principais deveres do síndico a correta prestação de contas anual para a assembleia, e também eventual, quando esta o exigir.</li>
                        <li>Para tanto, todas as despesas devem estar comprovadas e documentadas.</li>
                        <li>Caso se constate diferença de valor entre a arrecadação e as despesas comprovadas, o síndico pode ser acionado civil e criminalmente, por não cumprir sua obrigação legal e por se apropriar de fundos do condomínio</li>
                        <li>A não-prestação de contas é um dos grandes responsáveis pela  destituição de síndicos </li>
                        <li>Como evitar problemas:<br />
                            - Ter arquivo claro e organizado com todos os comprovantes de pagamento<br />
                            - Sempre exigir notas fiscais, RPA (recibo de autônomo), comprovantes de pagamentos de funcionários e seus benefícios, guardar as contas pagas.<br />
                            - Trabalhar sempre em cooperação com o conselho fiscal, para  verificar mensalmente a contabilidade condominial, evitando desgastes futuros.
                        </li>
                    </ul>
                    <p class="text-primary text-left lead"><strong>Inadimplência - ausência de cobrança</strong></p>
                    <ul>
                        <li>O síndico deve zelar pela boa administração do condomínio, aqui incluída a recuperação dos créditos do condomínio, acionando os inadimplentes direta e judicialmente.</li>
                        <li>A negligência nesses procedimentos, devidamente comprovada, pode gerar a obrigação de reparar o dano.</li>
                        <li>Como evitar problemas:<br />
                            - Tendo um cronograma-padrão de cobrança, do qual todos os condôminos tenham conhecimento. Por exemplo: no primeiro mês de atraso, notificação por escrito; no segundo, aviso de que o condomínio acionará a Justiça; no terceiro, entrar com ação de cobrança.<br />
                            - Identificando, nos balancetes, não os nomes dos inadimplentes, mas os números de suas unidades.<br />
                            - Não dar descontos em acordos. Estes, legalmente, só são possíveis com a concordância de todos os condôminos. Os acordos devem envolver apenas parcelamento.
                        </li>
                    </ul>
                    <div class="media">
                        <a class="pull-right" href="#">
                            <img class="media-object" src="http://www.fenapef.org.br/fenapef/imagem/noticia/100423_assedio.jpg" alt="">
                        </a>
                        <div class="media-body">
                            <p class="text-primary text-left lead"><strong>Inadimplência - Danos Morais</strong></p>
                            <ul>
                                <li>Alegação de danos morais por exposição dos nomes dos condôminos inadimplentes: depende do meio e do modo de divulgação. Se forem feitos de forma objetiva e discreta, que leve a informação aos interessados, não haverá dano moral ou constrangimento por parte dos condôminos pendentes.</li>
                                <li>A divulgação dos inadimplentes é um "exercício regular de direito", porque o artigo 1348 do Código Civil impõe ao síndico o dever de prestar contas aos condôminos.</li>
                                <li>
                                    Como evitar problemas:<br />
                                    - O melhor é divulgar apenas o número das unidades inadimplentes, o valor devido e o mês respectivo no balancete mensalmente enviado aos condôminos.<br />
                                    - Não convém veicular as unidades inadimplentes no quadro de avisos ou cartazes na portaria, mas apenas nos balancetes.
                                </li>
                            </ul>
                            <p class="text-primary text-left lead"><strong>Obras</strong></p>
                            <ul>
                                <li>O síndico pode ser responsabilizado civilmente por obras realizadas sem a devida autorização da assembleia</li>
                                <li>Se as obras são voluptuárias, ou seja, para fins estéticos ou de recreação, dependem do voto de dois terços dos condôminos. Ex: implantação de churrasqueira, reforma do hall de entrada.</li>
                                <li>Se as obras são úteis, ou seja, aumentam ou facilitam os serviços do condomínio, dependem de voto da maioria dos condôminos. Exs.: reforma da guarita, implantação de piso antiderrapante.</li>
                            </ul>
                        </div>
                        <ul>
                            <li>O Código Civil determina que obras urgentes (chamadas pelo CC de "necessárias", art. 1341) podem ser feitas sem autorização de assembleia</li>
                            <li>Se a obra urgente envolver grande despesa, a assembleia deve ser imediatamente convocada e comunicada.</li>
                            <li>
                                Como evitar problemas:<br />
                                - Observando as votações mínimas previstas por lei<br />
                                - Exija sempre que a empresa contratada tenha seguro contra acidentes e seguro de vida para os funcionários alocados na obra.<br />
                                - Ao contratar qualquer obra, verifique se a empresa contratada tem porte e condições necessárias para concluí-la, sem abandoná-la pela metade, o que infelizmente tem acontecido algumas vezes
                            </li>
                        </ul>
                        <p>
                            <strong>Fontes consultadas</strong><br />
                            <i>
                                Dra. Maraneide Alves Brock, gerente jurídica do Secovi-SP<br />
                                Dr. João Paulo Rossi Paschoal, assessor jurídico do Secovi-SP<br />
                                Dr. Luiz Murilo Inglês de Souza Filho
                            </i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

