@{
    ViewBag.Title = "Sindmepa";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="row">
    <div class="col-sm-6 col-md-12">
        <div class="thumbnail">
            <img src="http://www.reditec.ifal.edu.br/noticias-destaque/atencao-dirigentes-confiram-os-servicos-ques-estarao-disponiveis-durante-a-37a-reditec/image" alt="">
            <div class="row clearfix">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <h1 class="text-center">Serviços disponibilizados aos médicos associados</h1>
                    <p>&nbsp;</p>
                    <ul>
                        <li>
                            Defesa em processos de responsabilidade civil por suposto alegado de 'erro médico' na área cível ou criminal.
                        </li>
                        <li>
                            Defesa em processos administrativos oriundos do Conselho Regional de Medicina do Estado do Pará.
                        </li>
                        <li>
                            Defesa em processos administrativos ou disciplinares advindos de órgãos públicos a que o médico esteja vinculado.
                        </li>
                        <li>
                            Defesa em processos trabalhistas.
                        </li>
                        <li>
                            Assessoramento jurídico em geral.
                        </li>
                    </ul>
                    <p>&nbsp;</p>
                    <p class="text-primary text-left lead"><strong>NORMATIZAÇÃO PARA HOMOLOGAÇÃO</strong></p>
                    <h4 style="text-underline-position: auto">
                       INSTRUÇÃO NORMATIVA – MTE Nº 3, DE 2002
                    </h4>
                    <p>&nbsp;</p>
                    <p>
                        1-Documentos necessários para Homologação de Rescisão de Contrato de Trabalho no SINDMEPA:
                    </p>
                    <p>
                        I. Termo de rescisão de contrato (TRCT), em 05 (cinco) vias;
                    </p>
                    <p>
                        II. Carteira de Trabalho e Previdência Social (CTPS), com as anotações atualizadas;
                    </p>
                    <p>
                        III. Comprovante de aviso-prévio, quando for o caso ou do pedido de demissão;
                    </p>
                    <p>
                        IV. Extrato para fins rescisórios da conta vinculada do empregado no Fundo de Garantia do
                        Tempo de Serviço (FGTS), devidamente atualizado, e guias de recolhimento das competências indicadas no extrato como não localizados na conta vinculada;
                    </p>
                    <p>
                        V. Guia de recolhimento rescisório do FGTS e da Contribuição Social, nas hipóteses do art. 18 da Lei nº 8.036, de 1990, e do art. 1º da Lei Complementar nº 110, de 2001;
                    </p>
                    <p>
                        VI. Comunicação da Dispensa (CD) e Requerimento do Seguro Desemprego, para fins de habilitação, quando devido;
                    </p>
                    <p>
                        VII. Atestado de saúde ocupacional demissional, ou periódico, durante o prazo de validade, atendidas as formalidades especificas na Norma Regulamentadora – NR 7, aprovada pela Portaria nº 3.214, de 8 de junho de 1978, e alterações.
                    </p>
                    <p>
                        VIII.  Ato constitutivo do empregador com alterações ou documento de representação;
                    </p>
                    <p>
                        IX. Demonstrativo de parcelas variáveis consideradas para fins de cálculo dos valores devidos na rescisão contratual; e
                    </p>
                    <p>
                        X. Prova bancária de quitação, quando for o caso;
                    </p>
                    <p>
                        XI. Perfil Profissiográfico Previdenciário do período trabalhado na empresa (PPP).
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
