@using Sindemed.Models.Repositories
@using App_Dominio.Repositories
@using Sindemed.Models.Enumeracoes
@using App_Dominio.Enumeracoes
@{
    ViewBag.Title = "Sindmepa";
    ViewBag.Header = "Atendimentos Pendentes";
}
@using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "get" }, new { @class = "form-horizontal", @role = "search", target = "_blank" }))
{
    @Html.Hidden("descricao_areaAtendimento", "")
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                Atendimentos pendentes <small>Listagem dos atendimentos Em Aberto dos associados</small>
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group col-md-12">
                        @Html.Label("Área de Atendimento", new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            <div class="input-group">
                                @Html.DropDownList("areaAtendimentoId", new BindDropDownList().AreaAtendimento("Todas...", ""), new { @class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="div-list-static">
                        @*@Html.Partial("List", Model)*@
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="col-lg-offset-10">
                <button type="button" class="btn btn-default" onclick="Refresh(0, getPageSize(), 'ListParam', 'div-list-static')">Buscar</button>
                <button type="submit" class="btn btn-primary" onclick="return valida()">Imprimir</button>
                @*<div class="btn-group dropup">
                        <button class="btn" style="padding-right: 0px">Imprimir</button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="selecionaPdf('pdf', 'Report01', 'PDF')"><i class="cus-sprite-page_white_acrobat"></i> Exportar Pdf</a></li>
                            <li><a href="#" onclick="selecionaPdf('word', 'Report01', 'PDF')"><i class="cus-sprite-page_word"></i> Exportar Word</a></li>
                            <li><a href="#" onclick="selecionaPdf('excel', 'Report01', 'PDF')"><i class="cus-sprite-page_excel"></i> Exportar Excel</a></li>
                            <li><a href="#" onclick="selecionaPdf('png', 'Report01', 'PDF')"><i class="cus-sprite-folder_page_white"></i> Exportar Imagem</a></li>
                            <li class="divider"></li>
                            <li><a href="#" onclick="selecionaPdf('view', 'Report01', 'PDF')"><i class="cus-sprite-application_form_magnify"></i> Imprimir</a></li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    function valida() {
        $("#descricao_areaAtendimento").val($("#areaAtendimentoId option:selected").text());
        return true;
    }
</script>




