@model System.Web.Mvc.PagedList<DWM.Models.Repositories.CidadeViewModel>
@{
    Layout = null;
    Model.action = "../Cidade/_ListCidadeModal";
}

<div class="row">
    <div class="col-md-11" style="margin: 0px">
        @Html.Partial("_Filter", Model)
        <div id="div-list" style="padding-top: 0px">
            @Html.Partial("../Cidade/_ListCidadeModal", Model)
        </div>
    </div>
</div>


<script type="text/javascript">

    function Move(id, descricao) {
        $("#cidadeComId").val(id);
        $("#nome_cidadeCom").val(descricao);
        $("#nome_cidadeCom1").val(descricao);
        $("#btnModal").click();
    }

</script>







