@model System.Web.Mvc.IPagedList  
@{
    Layout= null;
}   

<div class="row">
    <div class="col-md-12">
        @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "get" }))
        {
            <div class="form-group">
                @Html.TextBox("desc", "", htmlAttributes: new { @class = "form-control input-sm col-md-11", @placeholder = "Descrição" })
                <button type="button" class="btn active btn-sm" onclick="Refresh(0, getPageSize(), '@Model.action', '@Model.DivId')">Buscar</button>
            </div>
        }
    </div>
</div>


