@model System.Web.Mvc.PagedList<DWM.Models.Repositories.AreaAtuacaoViewModel>
@{
    Layout = null;
    Model.action = "../AreaAtuacao/_ListAreaAtuacaoModal";
}

<div class="row">
    <div class="col-md-11" style="margin: 0px">
        @Html.Partial("_Filter", Model)
        <div id="div-list" style="padding-top: 0px">
            @Html.Partial("../AreaAtuacao/_ListAreaAtuacaoModal", Model)
        </div>
    </div>
</div>


<script type="text/javascript">

    function Move(id, descricao) {
        $("#areaAtuacaoId").val(id);
        $("#descricao_areaAtuacao").val(descricao);
        $("#descricao_areaAtuacao1").val(descricao);
        $("#btnModal").click();
    }

</script>






