@model System.Web.Mvc.PagedList<DWM.Models.Repositories.AreaAtuacaoViewModel>
@{
    Layout = null;
    Model.action = "../AreaAtuacao/_ListAreaAtuacaoModal";
}

<div class="panel panel-primary" style="padding: -2px">
    <div class="panel-heading" style="padding: 0px; height: 50px">
        @Html.Partial("_Filter", Model)
    </div>
    <div class="panel-body">
        <div id="div-list">
            @Html.Partial("../AreaAtuacao/_ListAreaAtuacaoModal", Model)
        </div>
    </div>
</div>


<script type="text/javascript">

    function Move(id, descricao) {
        $("#areaAtuacao2Id").val(id);
        $("#descricao_areaAtuacao2").val(descricao);
        $("#descricao_areaAtuacao21").val(descricao);
        $("#btnModal").click();
    }

</script>







