@model System.Web.Mvc.PagedList<Sindemed.Models.Repositories.NaoLocalizadoCorreioViewModel>
@{
    Layout = null;
    Model.action = "../NaoLocalizadoCorreio/_ListNaoLocalizadoCorreioModal";
}

<div class="row">
    <div class="col-md-11" style="margin: 0px">
        @Html.Partial("_Filter", Model)
        <div id="div-list" style="padding-top: 0px">
            @Html.Partial("../NaoLocalizadoCorreio/_ListNaoLocalizadoCorreioModal", Model)
        </div>
    </div>
</div>


<script type="text/javascript">

    function Move(id, descricao) {
        $("#correioId").val(id);
        $("#descricao_correio").val(descricao);
        $("#descricao_correio1").val(descricao);
        $("#btnModal").click();
    }

</script>







